<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>

</head>
<body>
    <h1>Index</h1>
<div class="menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/subscribe">Subscribe</a></li>
    </ul>
</div>
<br/>
<p>The index page is also know as the main page.</p>
<p>So, wecome, I guess.</p>
</body>
</html>