<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>

</head>
<body>
    <h1>Products</h1>
<div class="menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/subscribe">Subscribe</a></li>
    </ul>
</div>
<br/>
<p>We have all of your nondescript products available here whatever they might be. No, seriously, I have no idea what's here.</p>
    
</body>
</html>