<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscribe</title>

</head>
<body>
    <h1>Subscribe</h1>
<div class="menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/subscribe">Subscribe</a></li>
    </ul>
</div>
<br/>
<p>Like and Subscribe and hit the bell button for notifications! Except the like and bell buttons are proverbial and the subscribe is it's own page... Just do whatever you want, but come back. Please, I'm lonely and need attention.</p>
</body>
</html>